body {
 background: #a67c52;
 font-family: courier new;
}
.spalte {
 width:33.33%;
 height:auto;
 float:left;

}
.blue{
 background:blue;


}
.green{
 background:green;

}
.red{
 background:red;

}
.h{
 background:yellow;
 width:100px;
 height:200px;
 font-size: 26px;
}

.a{
 background:black;
 width:33.33%;
 height:200px;
 font-size: 26;
}
.b{
 background:blue;
 width:33,33%;
 height:200px;
 font-size: 26;
}
.c{
 background:pink;
 width:33.33%;
 height:200px;
 font-size: 26;
}
